/* src/components/styles/Task.css */

.task {
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  
    padding: 8px;
    border-radius: 4px;
  
    cursor: grab;
  }
  